.form-btn-container {
  display: flex;
  background-color: white;
  width: 45rem;
  border-bottom: 1px solid #ced4da;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  position: fixed;
  z-index: 0;
}

.btn-form {
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 1px solid var(--color-primary--1);
  cursor: pointer;
}

.form-container {
  padding: 10rem 3rem 2rem 3rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 2.6rem;
}
