.list-item {
  display: flex;
  cursor: pointer;
  padding: 1.4rem;
  margin: 1.4rem;
  border-radius: 10px;
  border: 1px solid #ced4da;
  gap: 1.4rem;
  align-items: center;
}

.list-item:hover {
  background-color: #ececec;
}

.workout-img {
  border-radius: 10px;
  border: 1px solid #ced4da;
  padding: 0.6rem 1.6rem;
}

.list-item--container-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-item--title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.6rem;
}

.list-item--container-3 {
  display: flex;
  align-items: center;
}

.workout-icon {
  height: 4rem;
  width: 4rem;
  transition: all 0.15s ease-in-out;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.workout-icon:hover {
  transform: scale(1.2);
}
